@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

$primary_color: #ff9000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  nav {
    width: 90%;
    margin: 0.5rem auto 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        i {
          font-size: 1.5rem;
        }
        h4 {
          color: $primary_color;
          font-size: 1rem;
        }
      }
    }
  }
}

.container_input {
  margin-top: 0.2rem;
  width: 100%;
  height: 2rem;
  background-color: #f6f6f6;
  border-radius: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-weight: 300;
}

i {
  color: #717171;
}

main {
  width: 90%;
  margin: 1rem auto 0;
  .container_welcome {
    position: relative;
    .welcome {
      h1,
      h2 {
        color: #585858;
      }

      h1 {
        font-size: 1.25rem;
        font-weight: 400;
      }
      h2 {
        margin-top: -0.8rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        .container_input {
          width: 85%;
          margin-top: 0.6rem;
          position: relative;
          input {
            border: none;
            outline: none;
            width: 100%;
            padding: 0.6rem;
            padding-left: 2.2rem;
            background-color: transparent;
            &::placeholder {
              font-size: 0.8rem;
              font-weight: bold;
            }
          }
          i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            font-size: 0.8rem;
          }
        }
        .container_filter {
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          position: absolute;
          right: 0;
          background-color: #f6f6f6;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 0.8rem;
        }
      }
    }
  }

  .container_categories {
    margin-top: 1.5rem;
    .categories {
      h3 {
        font-size: 1rem;
        color: #585858;
        margin-bottom: 0.3rem;
      }
      .categories_products {
        height: 9.4rem;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x proximity;
        gap: 0.5rem;
        .product {
          width: 4.625rem;
          height: 7.688rem;
          background-color: #fff;
          border-radius: 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.6rem;
          box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.25);
          scroll-snap-align: center;
          &_image {
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.4rem;
            img {
              width: 100%;
              height: 2.3rem;
              object-fit: cover;
            }
          }
          &_title {
            margin-top: 0.4rem;
            font-size: 0.6rem;
            text-align: center;
          }
        }
        .product_active {
          background-color: $primary_color;
        }

        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  }
}
